# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv/
venv/
nikepulse/

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/
data/processed/

# Models
*.pkl
*.joblib

# Mac
.DS_Store

# VS Code
.vscode/
