# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv/
venv/
nikepulse/

# Jupyter
.ipynb_checkpoints/

# Raw data files
data/raw/

# Keep processed PySpark outputs for Streamlit deployment
# data/processed/

# Models
*.pkl
*.joblib

# Mac
.DS_Store

# VS Code
.vscode/